@charset "ISO-8859-1";

/* Style inputs with type="text", select elements and textareas */
input[type=text], select, textarea {
    width: 100%; /* Full width */
    padding: 12px; /* Some padding */  
    border: 1px solid #ccc; /* Gray border */
    border-radius: 4px; /* Rounded borders */
    box-sizing: border-box; /* Make sure that padding and width stays in place */
    margin-top: 6px; /* Add a top margin */
    margin-bottom: 16px; /* Bottom margin */
    resize: vertical; 
}

/* Style the submit button with a specific background color etc */
input[type=submit] {
    background-color: #8a59ca;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

/* When moving the mouse over the submit button, add a darker green color */
input[type=submit]:hover {
    background-color: #b8c9f2;
}

/* Add a background color and some padding around the form */
.container {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
}

  /* MENU */
  .nav-tabs li a {
      color: #000000;
  }
  .navbar {
      font-family: Montserrat, sans-serif;
      margin-bottom: 0;
      background-color: #5d5675;
      border: 0;
      font-size: 16px !important;
    	font-color: #03010c;
      letter-spacing: 5px;
      opacity: 3.9;
      height: 35px;
  }
  .navbar li a, .navbar .navbar-brand { 
      color: #000000 !important;/*Cor da fonte do navbar*/
  }
  .navbar-nav li a:hover {
      color: #0000ff!important;
  }
  .navbar-nav li.active a {
      color: #fff !important;
      background-color: #29292c !important;
  }
  .navbar-default {
      border-color: transparent;
  }
  /* MENU */
  
  /* RODAPE */
  footer {
      background-color: #2d2d30;
      color: #f5f5f5;
      padding: 32px;
  }
  footer a {
      color: #f5f5f5;
  }
  footer a:hover {
      color: #777;
      text-decoration: none;
  }  
  /* RODAPE */sw25